<!-- FOOTER -->
<footer class="footer">
  <p>© Mini Mercado Lloseta Haji</p>
  <div class="redes-sociales">
    <a href="#"><img src="{{ url_for('static', filename='img/index/facebook.png') }}" alt="Facebook" /></a>
    <a href="#"><img src="{{ url_for('static', filename='img/index/instagram.png') }}" alt="Instagram" /></a>
    <a href="#"><img src="{{ url_for('static', filename='img/index/youtube.png') }}" alt="Youtube" /></a>
    <a href="#"><img src="{{ url_for('static', filename='img/index/linkedin.png') }}" alt="Linkedin" /></a>
  </div>
</footer>
