<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
  


  <meta charset="UTF-8">
  <title>{% block title %}Mini Mercado{% endblock %}</title>

</head>
<body>

  {% include 'partials/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.html' %}

</body>
</html>

