{% extends 'base.html' %}

{% block title %}Crear un nuevo usuario - Mini Mercado{% endblock %}

{% block content %}

<section class="registro contenedor-seccion">
  <h1>Crear un nuevo usuario</h1>
  <p>Introduce los datos</p>

  <form action="{{ url_for('registro') }}" method="post" class="formulario-registro">
    <div class="fila">
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="text" name="apellido" placeholder="Apellido" required>
    </div>
    <input type="tel" name="telefono" placeholder="Teléfono" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="direccion" placeholder="Calle, número, piso, postal/ciudad" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Crear</button>
  </form>
</section>

{% endblock %}
